                

                <!--GRID VIEW -->
                      <div id="tabs-2"> 

                          <div class="inner-container">

                            		<div id="infinite_pages"> 
                                        <div class="infinite_page" id='page-no-{{ pagination.current_page }}' data-page-no="{{ pagination.current_page }}">

                                        
                                             {% for property in properties %}
                                              {% include "properties/list_item_grid" %}
                                             {% endfor %}
                                        
                                             
                                             

                                        </div><!-- End Infin Item-->



                                        </div> <!-- End Infin Wrapper-->

                   			  </div>

                	   </div>



         <script type="text/javascript">



      //Grid View
          $('.imgLinkGrid').hover(function(){
                $(this).closest('.col-4').find('#preview').css({'background-image':'url('+ $(this).attr('src') +')'});
          },function(){
                $(this).closest('.col-4').find('#preview').css({'background-image':''});
              
          });


         
  
   
    </script>
 
        