<div class="rows">
  {% include 'layouts/search_form' %}
</div>


<div id="tabsSearch" class="rows">

   

    <div class="inner-container"> <!--start tabs section -->


      <div class="col-12 blue-bg">

        <div class="col-6">
          <h2>42 Properties found in CH60 3SD</h2>
        </div>

         <div class="col-6 searchs">
            <a class="save-search" href="">Save search</a>
            <a class="new-search" href="">New search</a>
         </div>

       </div>


      <div class="col-12 dark-blue border-btm">
         <div class="col-6 ">
              
                <ul>
                  <li class="gold">View as</li>
                  <li class="list"><a href="#tabs-1"></a></li>
                  <li class="grid"><a href="#tabs-2"></a></li>
                  <li class="map"><a href="#tabs-3" class="tabs-map"></a></li>
                </ul>
         </div>
      
         <div class="col-6 filter">



              <form>

                <span>Sort by</span>

                <select>
                  <option value="Newest">Newest</option>
                  <option value="Oldest">Oldest</option>
                  <option value="Lowest Price">Lowest Price</option>
                  <option value="Highest Price">Highest Price</option>
                </select>
              </form>

         </div>
      
      </div>
             
      </div><!-- /inner container -->


      <div class="rows grey">

       

        <div class="col-12">

     
         
                <!--LIST VIEW -->
                <div id="tabs-1">

                   <div class="inner-container">
                  
                  <!--SINGLE LIST VIEW -->
                    <div class="col-12 list">

                      <div class="col-6">
                          <div class="single-imagery">
                            <div id="holder">

                              <div id="preview">
                              </div>

                              <p class="sold-flag"></p>

                              <img class="list-main" src="assets/images/grid-place.jpg">

                              <p class="photos">8</p>
                            </div>

                            <div class="supporting-imagery">
                              <img class="imgLinkList" src="assets/images/grid-thumb-1.jpg">
                              <img class="imgLinkList" src="assets/images/grid-thumb-2.jpg">
                            </div> 
                          </div> 
                                              
                      </div>

                        <div class="col-6">
                            <h1>Kings Drive, Caldy, Wirral, CH48</h1>
                            <h2>&pound;649,950</h2>
                            <hr>
                            <p>3 bedrooms</p>
                            <a href="#" class='add-to-shortlist'>Add to shortlist</a>

                            <p class="short-description">Elevated views in a desirable location! Situated in the highly prestigious Caldy Village is this extensive detached family home that is surrounded by beautifully landscaped, split level gardens and a...</p>

                            <div class="plans-holder">
                              <a class="floorplan" href="">Floor plan</a>
                              <a class="gardenplan" href="">Garden plan</a>
                              <a class="video-ico" href="">Video</a>
                            </div>
                        </div>
                    </div> <!--END SINGLE LIST VIEW -->





                      </div>

                </div>

                <!--GRID VIEW -->
                <div id="tabs-2"> 

                  <div class="inner-container">

                    <!--SINGLE LIST VIEW -->
                      <div class="col-4 grid">
                        <div class="single-imagery">
                          <div id="preview">
                          </div>
                          <p class="sold-flag"></p>
                          <img class="grid-main" src="assets/images/grid-place.jpg">

                          <p class="photos">8</p>
                        </div>

                        <div class="col-12">
                          <img class="imgLinkGrid" src="assets/images/grid-thumb-1.jpg">
                          <img  class="imgLinkGrid" src="assets/images/grid-thumb-2.jpg">
                          <h1>Kings Drive, Caldy, Wirral...</h1>
                          <h2>&pound;649,950</h2>
                            <p>3 bedrooms</p>
                           <a href="#" class='add-to-shortlist'>Add to shortlist</a>
                        </div>
                      </div> <!--END SINGLE LIST VIEW -->







                    </div>
                </div>

                <div id="tabs-3">
                   <div id="map">
                    <div class="inner-container"> 
                        <div class="map-tools">

                          <p>Click on a pin to view property information or draw your own search area</p>
                          <p class="draw-map" href="">Draw</p>
                          <p class="edit-map" href="">Edit</p>
                          <p class="clear-map" href="">Clear</p>
                        </div>
                    </div>

                   
            
                   </div>
                </div>

         

        </div>

      </div>


</div><!-- /row -->



